*{
    margin: 0;
    padding: 0;
}

/*.lil-gui{display: none!important;}*/

html,body{color:#fff;height:100%;background: #000;overflow: hidden;}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.intro-first{position: absolute;width:100%;height:100%;left:0;top:0;z-index:-10;}
.intro-first img{position: absolute;transition: all 2s;opacity: 0;}
.intro-first.active{z-index:1000;}
.intro-first.active img{opacity: 1;}
.intro-first .img-second{
    transition: all 2s ease 0.5s;
}

.intro-first.out .img-fourth{opacity: 0;transition: all 1.5s;}
.intro-first.out .out-col{transform: translateY(-1000px);transition: all 2s;}

.intro-first .img-third{
    transition: all 2s ease 1s;
}

.intro-first .img-fourth{
    transition: all 2s ease 0.6s;
}

.intro-first .img-five{
    transition: all 2s ease 2s;
}
.intro-first .img-six{
    transition: all 2s ease 2.5s;
}

.img100{width:100%;height:100%;position: absolute;left:0;top:0;display: block;z-index:100;color:#fff;overflow: hidden;}
.bottom-col{position: relative;}

.content.active  .list.animation div{opacity: 0;transition: transform 4s ease 0.5s,right 4s ease 0.5s,left 4s ease 0.5s,margin 4s ease 0.5s,opacity 4s ease 0.5s;}
.content.active  .list.animation div.active{opacity: 1;transform-origin:50% 50%;margin-top:0;}

.content.active  .list.animation div:nth-child(2n).active{
    left:50%;transform:translate(-50%,0%) scale(0,0);opacity: 0;
}

.content.active  .list.animation div:nth-child(2n+1).active{
    right:50%;transform:translate(50%,0%) scale(0,0);opacity: 0;
}

.list div{font-size:4.4vw;display: inline-block;position: absolute;
    border-radius: 2.13vw;line-height:8.6vw;white-space: nowrap;
    top:50%;
padding:0 4vw;opacity: 0;}
.content.active .list div{opacity: 1;}
.list div:before{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width:1.86vw;
    height:1.86vw;
    display: block;position: absolute;
    left:4.2vw;top:-4vw;
    content: "";
}
.list div.active{
    background: #7D33FF;
}
.list div.active:before{
    background: #fff;
}

.list div:nth-child(1){
    right:1vw;
    margin-top:-44vw;
    transition: all 0.8s ease 0.5s;
}
.list div:nth-child(2){
    left:1vw;
    margin-top:-32vw;
    transition: all 1.6s ease 0.5s;
}
.list div:nth-child(3){
    right:0;
    margin-top:44vw;
    transition: all 2.4s ease 0.5s;
}

.list div:nth-child(4){
    left:6.4vw;
    margin-top:26vw;
    transition: all 3.2s ease 0.5s;
}

.bottom-col{position: absolute;bottom:9.2vw;width:100%;text-align: center;}
.bottom-col .text{font-size:2.667vw;padding-bottom:4vw;}
.text-col{display: block;position: absolute;left:3.76vw;top:22vw;opacity: 0;transition: all 3s ease 0.5s;}
.content.active .text-col{opacity: 1;}
.no-col{
    position: absolute;left:5.86vw;top:8vw;
}
.no-col .no{width:24vw;}

.bottom-col img{width:28.8vw;}
.content{opacity: 0;position: absolute;width:100%;height:100%;top:0;left:0;z-index:-1;}
.content.active{opacity: 1;z-index:1;}

.bottom-icon{position: absolute;width:100%;left:0;bottom:0;z-index:1000;display: none;}
.bottom-icon img{width:3vw;position: absolute;bottom:16vw;z-index:1000;}
.bottom-icon .left{left:5.2vw;}
.bottom-icon .right{right:5.2vw;}

.swiper {
    width: 100%;
    height: 100%;
    position: absolute;left:0;top:0;
    z-index:-1000;
   opacity: 0;
}
.swiper.active{
    opacity: 1;
    z-index:1000;
    transition: all 2s ease 1.5s;
}

.swiper .intro-second .img{transform:translateY(800px);opacity: 0;}
.swiper .intro-second .img-first{transition:all 1s ease 1.6s;}
.swiper .intro-second .img-second{transition:all 1s ease 2.2s;}
.swiper.active .intro-second .img{opacity:1;transform:translateY(0);}
.swiper.active .intro-second .graph{opacity: 1;}


.swiper-slide {
    text-align: left;
    font-size: 18px;
    height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.tansuo{position: absolute;width:100%;z-index: 100;height:100%;left:0;top:0;}


.logo{position: absolute;left:3vw;top:4vw;width:20.2vw;z-index:1000;}

@keyframes opacity {
    0% {
        -webkit-transform: translate(0,0px)
    }

    25% {
        -webkit-transform: translate(0,-3px)
    }

    50% {
        -webkit-transform: translate(0,1px)
    }

    75% {
        -webkit-transform: translate(0,-1px)
    }

    100% {
        -webkit-transform: translate(0,0px)
    }
}

@-webkit-keyframes opacity {
    0% {
        -webkit-transform: translate(0,0px)
    }

    25% {
        -webkit-transform: translate(0,-3px)
    }

    50% {
        -webkit-transform: translate(0,1px)
    }

    75% {
        -webkit-transform: translate(0,-1px)
    }

    100% {
        -webkit-transform: translate(0,0px)
    }
}


.graph{position: absolute;width:9.2vw;left:50%;margin-left:-4.6vw;bottom:15.47vw;-webkit-animation: opacity 1.2s linear infinite;opacity: 0;
    transition:all 1s  ease-in 2.5s;}


.intro-second img{position: absolute;}

.tansuo{transition:all 2s;z-index:-1;opacity:0;}
.tansuo.active{opacity:1;z-index:100;}

.loading{position:absolute;bottom:16.17vw;text-align:center;width:100%;}
.loading img{width:16.1vw;}
.success-text{position:absolute;top:50%;text-align:center;width:100%;left:0;margin-top: -56vw;}
.success-text img{width:34.6vw;display:block;margin:0 auto;}
.success-text div{font-size:3.1vw;padding-top:2vw;}
.success .btn{
    position: absolute;width:34vw;top:50%;left:50%;margin-left:-17vw;margin-top:20vw;
}
.success{position: absolute;width:100%;height:100%;left:0;top:0;z-index:-1;opacity: 0;transition: all 2s;}
.success.active{
    z-index:1000;opacity: 1;
}

#startCol.active{z-index:1000;opacity: 1;}
